body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Trebuchet MS', 'Roboto', 'Ubuntu', 'Segoe UI', 'Roboto', 'Oxygen',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #242428;
}

#dashboard-container{
  display: flex;
  flex-direction: column;
}

#containers{
  display: flex;
}

#chart-containers{
  display: flex;
  flex-direction: column;
  flex:2;
}

#stat-containers{
  flex:1;
  border: 1px solid #363a45;
  border-radius: 16px;
  padding:25px;
  margin:10px;
  color:#d1d4dc;
  font-weight: 400;
  display: flex;
  flex-direction: column;
}

#primary-button-container{
  border: 1px solid #434651;
  border-radius: 8px;
  margin-bottom: 16px;
  max-width: max-content;
  padding: 2px 0 2px 2px;
}

.primary-button{
  text-align: center;
  all: unset;
  cursor: pointer;
  border-radius: 6px;
  color:#d1d4dc;
  background-color: rgba(0, 0, 0, 0);
  height: 34px;
  min-width: 34px;
  padding: 0 6px;
  margin:2px;
}

.primary-button:hover{
  background-color: rgba(255,255,255, 0.2);
}

.primary-button-active{
  background-color: rgba(100,100,255, 0.2);
}

#primary-container, #secondary-container{
  border: 1px solid #363a45;
  border-radius: 16px;
  padding:25px;
  margin:10px;
}

#page-header{
  display: none;
}

#stat-header{
  
  font-size: 20pt;
}

.statSubtitle{
  color:#9c9ea3;
  margin-bottom: 30px;
}

.statSubtitle2{
  color:#9c9ea3;
}

.statSubHeader{
  margin-bottom: 10px;
  font-size: 16pt;
}


.statElement{
  border: 1px solid #434651;
  border-radius: 8px;
  margin-bottom: 16px;
  padding: 20px;
}

#active-trade-container{
  flex:2;
}

#trades{
  max-height: 150px;
  overflow-y: auto;
  overflow-x: hidden;
}

#active-trade-summary{
  flex:1;
}

#active-trade-chart{
  flex:3;
}